@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<div class="text-center">
    <h1 class="display-4">Chat Room</h1>
    <div class="container col-md-8" style="border:2px solid green;border-radius:10px;padding:10px">
        <div class="form-group">
            <label>متن پیام</label>
            <input class="form-control" id="txtmessage" />
        </div>
        <button class="btn btn-success" id="btnsend">ارسال</button>
        <div class="form-group" style="background-color:lightpink" id="div1">
        </div>
    </div>
</div>

<script>
    $(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatRoom").build();

        connection.start().then(function () {
            alert('Connected Successfully')
            connection.on("SendMessageServerToClient", function (username, message) {
                $(div1).prepend(`<b>${username}: </b>${message}<br/>`)
            })

        }).catch(function (err) { alert(err.toString()) })

        $(btnsend).click(function () {
            connection.invoke("SendMessageClientToServer", 'username', $(txtmessage).val());
        })

    })
</script>


